[data-theme='dark'] {
  --color-primary: #33aaff;
  --color-secondary: #ffffff73;
  --bg-hover: rgba(255, 255, 255, 0.03);;
  --border-b-header: #fdfdfd1f;
  --border-color-collapsed-btn: rgba(255, 255, 255, 0.09);
  --scroll-bar-thumb: rgba(229, 231, 235, 0.16);
  --scroll-bar-thumb-hover: rgba(209, 213, 219, 0.21);
}