:root {
  --color-primary:#33aaff;
  --color-secondary: #00000073;
  --bg-hover: #00000008;
  --border-b-header: #0505050f;
  --text-logo-login: #000000d9;
  --border-color-collapsed-btn: rgba(0, 0, 0, 0.07);
  --scroll-bar-thumb: #E5E7EB;
  --scroll-bar-thumb-hover: #D1D5DB;
}