@use "@/styles/variables";

// wrapper
$tr-wrapper: 20px;

// btn
$py-btn: 20px;

.wrapper {
  position: fixed;
  right: $tr-wrapper;
  top: $tr-wrapper;
}

.btn {
  padding-top: $py-btn;
  padding-bottom: $py-btn;
}

.itemActive {
  color: var(--color-primary);
}